<!DOCTYPE html >

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head >
    <title >index</title >
	<meta charset="utf-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
    <!-- common css -->
    <!-- common scripts -->
</head >

<body >

<header th:replace="fragments/header :: header" >
    <p >this area is header</p >
</header >



<div >
    <h1 th:text="Security" ></h1 >
    <div sec:authorize="hasRole('ROLE_SYS_ADMIN')" >
        This content is only shown to system administrators.
    </div >
    <div sec:authorize="hasRole('ROLE_ADMIN')" >
        This content is only shown to administrators.
    </div >
    <div sec:authorize="hasRole('ROLE_USER')" >
        This content is only shown to users.
    </div >
    <div sec:authorize="isAuthenticated()" >
        This content is only shown to authenticated users.
    </div >
    <div sec:authorize="isAnonymous()" >
        This content is only shown to Anonymous users.
    </div >
</div >

<footer th:replace="fragments/footer :: footer" >
    <p >this area is footer</p >
</footer >

</body >

</html >